<!-- Temp bootstrap CDN link -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>

  <nav class="navbar navbar-expand-lg border-bottom">
    <div class="container">
        <a class="navbar-brand my-0 h1" href="{% url 'BioIndex' %}">My Portfolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle avigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'ProjectsIndex' %}">Projects</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'BlogIndex' %}">Blog</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>


<div class="container pt-4">
  {% block page_content %}{% endblock %}
</div>

<!-- <script src="{% static 'js/jquery.3.7.0.min.js' %}"></script> -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> <!--includes jQuery and Popper-->

</body>
</html>